<h1 class="titleh1">Nouvel Utilisateur</h1>

<%= render 'form' %>

<%= link_to '< Zebra', root_path %>

<script>
$(function(){
        $("header").css("height", "85px");
  $("#green_layer").hide();
});
</script>