
		<header>
			<div id="top_conteneur">
				<img id="logo" src="images/ZEBRA.png" alt="logo du site">
				<nav>
					<ul>
						<li><a id="home" class="nav_on" href="#" onclick="return false;">Home</a></li>
						<li><a id="nav_product" href="#" onclick="return false;">Products</a>
							<ul>
												<div id="product_menu">
					<table>
						<tr>
							<td><img id="logo_sub_menu" src="images/ZEBRA_0.png" alt=""></td>
							<td rowspan="2" >
							<% @categories.each do |cat| %>
								<a class="menu_on" href="#" onclick="return false;"><%=cat.name%></a>
								<%end%>


							</td>
							<td rowspan="2">
								<a class="menu_on" href="#" onclick="return false;">Jeans Levis</a>

							</td>
						</tr>
						<tr>							
							<td><img id="img_sub_menu" src="images/tie2.png" alt=""></td>								
						</tr>
					</table>
				</div>
							</ul>
						</li>
						<li><a class="nav_on" href="index.html">Portfolio</a></li>					
						<li><a id="contact" class="nav_on" href="#" onclick="return false;" >Contact</a></li>
						<li><a  href="#" onclick="return false;" ><img id="img_cart" src="images/Shape1.png" alt=""></a></li>
					</ul>
				</nav>

			</div>
			<div id="green_layer">
				<img id="introducing" src="images/Introducing.png" alt="">
				<img id="wild_eyes" src="images/Wildeyes.png" alt="">
			</div>
		</header>
		<section>
			<div id="page_contact">
				<div id="googleMap" ></div>
				<div id="intro">
					<p>Etiam tincidunt laoreet turpis a vulputate. Etiam diam lorem, convallis ac laoreet a, pretium id nisl. Morbi tincidunt nibh a ante fringilla at tincidunt eros venenatis. Nunc a dui mi, in imperdiet sem. Aenean eu nulla massa. Ut interdum tristique est commodo pharetra.</p>
				</div>
				<div class="center">
					<div class="formu">
						<p class="inquiry">SEND INQUIRY</p>
						<form>
							<p><input type="text" name="name" id="name" size="50" maxlength="25"/><label for="name">Name</label>  </p>
							<p><input type="email" name="email" id="email" size="50" maxlength="25"/><label for="email">E-mail</label>  </p>
							<p><input type="url" name="web" id="web" size="50" maxlength="25"/><label for="web">Web Site</label>  </p>			
							<textarea name="message" id="message" rows="10" cols="60" >   
							</textarea> 
						</form>		
						<a class="send" href="#" onclick="return false;">SEND</a>
					</div>
					<div id="address">
						<p class="inquiry">ADDRESS</p>
						<div id="coordonnee">
							<img class="address_img" src="images/pointeur.png" alt="">
							<p id="add">Ut interdum tristique est commodo pharetra.</p><br>
							<img class="address_img" src="images/phone.png" alt="">
							<p id="tel">111 5698 5698</p><br>
							<img class="address_img" src="images/mail.png" alt="">
							<p id="mel">modus@versus.com</p>
						</div>	
					</div>
				</div>
			</div>
			<div id="promotion">
				<div id="promotion_conteneur">
					<img class ="img_promo" src="images/promo1.png" alt="">
					<img class ="img_promo" src="images/promo2.png" alt="">
					<img class ="img_promo" src="images/promo3.png" alt="">
					<img src="images/promo4.png" alt="">
				</div>
			</div>
			<div id="categorie">
				<img id ="img_categorie" src="images/Categories.png" alt="">
				<img id ="baniere" src="images/baniere.png" alt="">
			</div>
			<div id="product">
			<img id ="levis_img" src="images/levistarekreda.png" alt="">
				<img id ="main_img" src="images/Layer7.png" alt="">
				<h1>Mens Levis Jeans-071</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised</p>
				<div id="rate">Rate : <b>$ 61.99</b></div>
				<img id="first_sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
			</div>
		</section>
		<footer>
			<div id="foot_conteneur">
				<img id="foot_logo" src="images/ZEBRAcopy.png" alt="">		
				<img id="facebook" src="images/facebookicon.png" alt="">				
				<img id="twitter" src="images/twitter.png" alt="">				
				<img id="rss" src="images/rss.png" alt="">				
				<p id="credit">2015 Template cssauthor.com</p>
				
			
			</div>
		</footer>
