		<section>

			<div id="promotion">
				<div id="promotion_conteneur">
					<img class ="img_promo" src="images/promo1.png" alt="">
					<img class ="img_promo" src="images/promo2.png" alt="">
					<img class ="img_promo" src="images/promo3.png" alt="">
					<img src="images/promo4.png" alt="">
				</div>
			</div>
			<div id="categorie">
				<img id ="img_categorie" src="images/Categories.png" alt="">
				<img id ="baniere" src="images/baniere.png" alt="">
			</div>
			<div id="product">
			<img id ="levis_img" src="images/levistarekreda.png" alt="">
				<img id ="main_img" src="images/Layer7.png" alt="">
				<h1>Mens Levis Jeans-071</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised</p>
				<div id="rate">Rate : <b>$ 61.99</b></div>
				<img id="first_sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
				<img class ="sub_img" src="images/Layer7copy.png" alt="">
			</div>
		</section>
		<footer>
			<div id="foot_conteneur">
				<img id="foot_logo" src="images/ZEBRAcopy.png" alt="">		
				<img id="facebook" src="images/facebookicon.png" alt="">				
				<img id="twitter" src="images/twitter.png" alt="">				
				<img id="rss" src="images/rss.png" alt="">				
				<p id="credit">2015 Template cssauthor.com</p>
				
			
			</div>
		</footer>
