		<section>

			<div id="promotion">
				<div id="promotion_conteneur">
					<%= link_to (image_tag "promo.jpg", class: "img_promo"), category_path(@promo[0]) %>
				</div>
			</div>
			<div id="categorie">
				<img id ="img_categorie" src="/images/Categories.png" alt="">
				<img id ="baniere" src="/images/baniere.png" alt="">
			</div>
			<div id="product">
			<img id ="levis_img" src="/images/levistarekreda.png" alt="">
				<%= link_to (image_tag "Layer7.png", class: "main_img"), item_path(8)%> 
				<h1><%= link_to "Jean Levis 501 Homme", item_path(8) %></h1>
				<p><%= link_to "En 1873, Levi Strauss et Jacob Davis entreprirent de créer des pantalons à toute épreuve pour les travailleurs manuels. Ils associèrent une toile denim à des rivets et inventèrent le tout premier blue-jean Levi’s® : le célèbre 501® Original.", item_path(8) %></p>
				<div id="rate">Prix : <b>69.30 €</b></div>

			</div>
		</section>
		
<script>
$(function(){
        $("header").css("height", "");
  $("#green_layer").show();
  $("#table_index").show();
});
</script>
