<div id="payment_show">

	<h1>Réglement </h1>
	<%= link_to (image_tag ("paypal.jpg"), class: "paypal" ), payment_path, :method => :put%>

</div>
<script>
$(function(){

			$("header").css("height", "85px");
	$("#green_layer").hide();
});
</script>