html, body
{
	margin: 0;
	padding: 0;
	width:1100px;
	margin:auto;
}
html
{
	background-color:#f3f3f3;
}
body
{
	background-color:white;
}
#top_conteneur
{
	height:86px;
	background: rgba(255, 255, 255, .95);
}
#logo
{
	margin-left:140px;
	margin-top:30px;
	display:inline-block;
}
nav
{
	vertical-align:top;
	display:inline-block;
	margin-top:16px;
	margin-left:160px;
}
li
{
	display:inline-block;
	font-family: "open sans",Arial, "Times New Roman", serif;
	font-size:1.1em;
	margin-right:40px;
	height:86px;
}
#img_cart
{
	vertical-align:bottom;
}
a:link 
{
	text-decoration: none;
}
a:visited {
	color:grey;
}
a{
	color:grey;
}
a:active {
	text-decoration: none;
}
header
{
	height:655px;
	background-image:url("/images/Layer3.png");
	background-repeat: no-repeat;
	background-position:-90px 10px;
	width:100%;
}
#green_layer
{
	height:569px;
	background-image:url("/images/Layer5.png");
}
#promotion
{
	height:300px;
}
#promotion_conteneur
{
	width:1025px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}
.img_promo
{
	margin-right:10px;	
}
#introducing
{
	z-index:10;
	position:relative;
	top:265px;
	width:441px;
	margin-left:329px;;
}
#wild_eyes
{
	position:relative;
	width:467px;
	top:284px;
	margin-left:316px;	
}
#categorie
{
	width:100%;
	height: 560px;
	background-image:url("/images/Layer5copy.png");
}
#img_categorie
{
	position:relative;
	top:70px;
	margin-left:293px;	
}
#baniere
{
	width:100%;
	margin-top:110px;
}
#levis_img
{
	margin-left:60px;
	margin-top:-30px;
}
#product
{
width:1100px;
margin:auto;
}
#product h1
{
	margin-left:100px;
	margin-bottom:0;
	font-family: "open sans",Arial, "Times New Roman", serif;
	font-size:2.8em;
	font-weight:bold;
}
#product p
{
	margin-left:100px;
	margin-bottom:40px;
	font-family: Arial, "Times New Roman", serif;
	width:500px;
}
#rate
{
	margin-left:100px;
	font-family: "open sans",Arial, "Times New Roman", serif;
	font-size:2em;
	margin-bottom:80px;
}
#main_img
{
	margin-top:30px;
	float:right;
}
.sub_img
{
	margin-left:18px;
	margin-bottom:80px;
	
}
#first_sub_img
{
	margin-bottom:80px;
	margin-left:90px;
}
#foot_conteneur
{
	height:86px;
	background-color:black;
	width:100%;
}
#credit
{
	font-family: "open sans",Arial, "Times New Roman", serif;
	margin-top:0;
	margin-bottom:0;
	color: grey;
	margin-left:100px;
}
#foot_logo
{
	display:inline-block;
	margin-left:100px;
	margin-top:20px;
	margin-bottom:5px;
}
#facebook
{
	margin-left:630px;
	margin-right:40px;
	display:inline-block;
}
#rss
{
	margin-left:40px;
	margin-top:22px;
}
#twitter
{
	vertical-align:bottom;
}
 #product_menu
{	
	
	background-color:#cf1a2b;
}
nav ul li ul 
{
	display:none;	
}
nav ul li:hover ul 
{
	display:block;
	position:absolute;
	top:86px;
	left:600px;
	width:350px;
	z-index:11;

}
.menu_on
{
	font-family: "open sans",Arial, "Times New Roman", serif;
	color:white;
	padding:20px;
	font-size:0.9em;
}

.menu_on:visited
{
	color:white;
}
.menu_on:hover
{
	color:grey;
}
br
{	
	margin-top:5px;
	margin-bottom:20px;
}
table
{
	width:350px;
	height:300px;
	border-collapse:collapse;
}
td
 {
	line-height:50px;
	border: 1px solid black;
} 
td[rowspan] 
{
	vertical-align: middle;
	text-align:center;
}
#logo_sub_menu
{
	padding:10px;
	margin-left:35px;
}
#img_sub_menu
{
	padding:55px;
	margin-left:20px;
}
#category
{
	margin-left: 10px;
	width: 150px;
	display:inline-block;
}
#main_show
{
	display:inline-block;
	vertical-align: top;
	width: 900px;
	margin-bottom: 50px;	
}
h3
{
	font-family: "open sans",Arial, "Times New Roman", serif;
	font-size:1.1em;
	height:40px;
	margin-bottom: 0;
}
figure
{
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}
figcaption
{
	width: 200px;
	text-align: center;
}
figcaption br
{
	margin: 0;
}
.price
{
	font-size:0.9em;
	color: red;
}
#item_show
{
	width:800px;
	display:inline-block;
}
#item_prez
{
	width: 290px;
	display: inline-block;
	vertical-align: top;
}